@using frontendApp.ViewModels;
@model DishViewModel
@{
    ViewData["Title"] = @Model.Name;
}

<div class="container mt-5" style="background-color: #795548;">
    <div class="card" style="background-color: #FFFFFF;">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="@Model.ImageUrl" alt="Dish Image" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <div class="float-right">
                        <a href="@Url.Action("Index", "Home")" class="text-dark">
                            <i class="fas fa-times-circle fa-2x"></i>
                        </a>
                    </div>
                    <h1>@Model.Name</h1>
                    <h4>
                        <div class="price h4 text-primary font-weight-bold">
                            $@Model.Price
                        </div>
                    </h4>
                    <p>@Model.Description📖</p>
                    <p>@Model.DishType.ToString() Dish🥖</p>
                    <div class="mt-3">
                        <form method="post" asp-controller="Home" asp-action="AddToCart" id="addToCartForm">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <div class="input-group">
                                <input type="number" name="quantity" class="form-control" value="1" />
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary">Add to Cart</button> 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
